{% extends "webPages/base.html" %}
{% block content %}
		<!-- Highlights -->
			<section id="main" class="wrapper">
				<div class="inner">
					<div class="table-wrapper">
						<table>
							<thead>
								<tr>
									<th>Broker</th>
									<th>Date</th>
									<th>Stock</th>
									<th>Quantity</th>
									<th>Value</th>
									<th>Total Value</th>
									<th>Total Value Paid</th>
									<th>Comments</th>
								</tr>
							</thead>
							<tbody>
								<tr>
									
									<td>Easynvest</td>
									<td>2017-04-05</td>
									<td>USIM5</td>
									<td>100</td>
									<td>4.11</td>
									<td>411</td>
									<td>421.13</td>
									<td>No Comments</td>

									{% for op in stockbuying %}
									<td>{{ op.broker }}</td>
									<td>{{ op.date|date:"Y-M-D" }}</td>
									<td>{{ op.asset_name }}</td>
									<td>{{ op.quantity }}</td>
									<td>{{ op.value }}</td>
									<td>{{ op.total_value }}</td>
									<td>{{ op.total_value_paid }}</td>
									<td>{{ op.comments }}</td>
									{% endfor %}

								</tr>
								
							</tbody>
						</table>
					</div>
				</div>
			</section>

			<!-- CTA -->
			<section id="cta" class="wrapper">
				<div class="inner">
					<h2>Operations</h2>
						<form method="post" action="#">
							<div class="row gtr-uniform">
								<div class="col-3 col-12-xsmall">
									<input type="text" name="date" id="date" value="" placeholder="Date: YYYY-MM-DD" />
								</div>
								<div class="col-3 col-12-xsmall">
									<input type="text" name="stock" id="stock" value="" placeholder="Stock" />
								</div>
								<div class="col-3 col-12-xsmall">
									<input type="text" name="quantity" id="quantity" value="" placeholder="Quantity" />
								</div>
								<div class="col-3 col-12-xsmall">
									<input type="text" name="value" id="value" value="" placeholder="Value" />
								</div>
								<!-- Break -->
								<div class="col-12">
									<select name="category" id="category">
										<option value="">Broker</option>
										<option>Option alpha</option>
										{% for b in brokers %}
										<option>{{ b }}</option>
										{% endfor %}
									</select>
								</div>
								<!-- Break -->
								<div class="col-6 col-12-small">
									<input type="radio" id="radio-alpha" name="radio" checked>
									<label for="radio-alpha">Buying</label>
								</div>
								<div class="col-6 col-12-small">
									<input type="radio" id="radio-beta" name="radio">
									<label for="radio-beta">Selling</label>
								</div>
								<!-- Break -->
								<div class="col-12">
									<textarea name="textarea" id="textarea" placeholder="Comments..." rows="6"></textarea>
								</div>
								<!-- Break -->
								<div class="col-12">
									<ul class="actions">
										<li><input type="submit" value="Submit Form" class="primary" /></li>
										<li><input type="reset" value="Reset" /></li>
									</ul>
								</div>
							</div>
						</form>
				</div>
			</section>
{% endblock content %}