<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Honda Civic</title>
</head>
<style>
* {
    font-family:            'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:              100%;
}
h3 {
    font-style:             italic;
    font-size:              30pt;
    text-align:             center;
}
h4 {
    font-size:              20pt;
}
p:hover {
    background-color:     aliceblue;
}
</style>
<script src="http.js"></script>
<body>
    <h3>HTTP Requests</h3>
    <hr>
    <br>
    <button onclick="httpGET('http://localhost:8080/car002',inputToParagraph)">GETting car002</button>
    <p id="Paragraph"></p>
    <button onclick="httpPOST('http://localhost:8080/car002', {'date' : '2018-10-20', 'mileage' : 13500, 'pricePerLitre' : 4.000, 'litreTotal' : 20.0 })">POSTing car002</button>
    <br>
    <a href="index.html">Back</a>
</body>
</html>